.cover {
   display: grid;
   //grid-template-rows: auto;
   grid-template: 
   ". l . i" 1fr
   ". h . i" minmax(1em, auto)
   ". t . i" minmax(1em, auto)
   ". a . i" 1fr
   / 1fr 36% 1fr 50%;

   height: auto;

   background-color: $colorLightBroun;

   @media (max-width: 426px) {
      grid-template: 
         ". l ." 8em
         ". h ." auto
         ". t ." auto
         ". a . " 8em
         "i i i" auto
         / 1fr 85% 1fr;
   }
  
   &__logo {
      grid-area: l;
      align-self: end;

      font-size: .9em;
      font-weight: 400;
      text-transform: uppercase;
      //line-height: 20px;
      //margin-top: 8em;
      color: $colorDarkBroun;

      @media (max-width: 426px) {
         font-size: 12px;
      }

   }

   &__title {
      grid-area: h;
      align-self: center;
      margin: .3em 0;
      

      font-size: 4em;
      font-weight: 400;
      line-height: 1.2em;
      color: $black;

      @media (max-width: 426px) {
         font-size: 40px;
      }
   }
   &__txt {
      grid-area: t;

      font-size: $fz;
      font-weight: 400;
      line-height: 1.4em;
      margin-bottom: 2.6em;
      color: $black;
      @media (max-width: 426px) {
         font-size: 12px;
         margin-bottom: 16px;
      }

   }

   &__link {
      grid-area: a;
      //align-self: center;
      justify-self: start;
      //display: block;
      font-size: inherit;
      font-weight: 400;
      height: 1em;
      display: block;
      //line-height: 24px;
      //margin-top: 52px;
      margin-left: 1.3em;
      color: $black;

      @media (max-width: 426px) {
         font-size: 16px;
         line-height: 16px;
         margin-top: 4px;
      }

   }
   &__image {
      grid-area: i;
      width: 100%;

      object-fit: cover;

   }
}

