.cover {
   display: grid;
   //grid-template-rows: auto;
   grid-template: 
   ". l . i" 1fr
   ". h . i" minmax(1em, auto)
   ". t . i" minmax(1em, auto)
   ". a . i" 1fr
   / auto 36% auto 50%;

   height: auto;

   background-color: $colorLightBroun;

   @media (max-width: 426px) {
      grid-template: 
   ". l . i" 1fr
   ". h . i" minmax(1em, auto)
   ". t . i" minmax(1em, auto)
   ". a . i" 1fr
   / auto 44% auto 50%;
   }
  
   &__logo {
      grid-area: l;
      align-self: end;

      font-size: .9em;
      font-weight: 400;
      text-transform: uppercase;
      //line-height: 20px;
      //margin-top: 8em;
      color: $colorDarkBroun;

      @media (max-width: 426px) {
         font-size: 9px;
      }

   }

   &__title {
      grid-area: h;
      align-self: center;
      margin: .3em 0;
      

      font-size: 4em;
      font-weight: 400;
      line-height: 1.2em;
      color: $black;

      @media (max-width: 426px) {
         font-size: 14px;
      }
   }
   &__txt {
      grid-area: t;

      font-size: $fz;
      font-weight: 400;
      line-height: 1.4em;
      margin-bottom: 2.6em;
      color: $black;
      @media (max-width: 426px) {
         font-size: 8px;
         margin-bottom: 8px;
      }

   }

   &__link {
      grid-area: a;
      //align-self: center;
      justify-self: start;
      //display: block;
      font-size: inherit;
      font-weight: 400;
      //line-height: 24px;
      //margin-top: 52px;
      margin-left: 1.3em;
      color: $black;

      @media (max-width: 426px) {
         font-size: 10px;
         margin-top: 4px;
      }

   }
   &__image {
      grid-area: i;
      width: 100%;

      object-fit: cover;

   }
}

