.footer {

   display: grid;
   grid-template: 
   "l  l l l"
   "o t i f"
   /1fr max-content max-content max-content;

   padding: 4% 7%;
   &__logo {
      grid-area: l;
   }

   &__info {
      grid-area: o;
      color: $colorDarkBroun;
   }

   &__ico {
      
      margin: 0 10px;
      svg{
         width: 30px;
         height: 30px;
      }
   }
}
.twitter {
   grid-area: t;
}
.insta {
   grid-area: i;
}
.fase_book {
   grid-area: f;
}
