.footer {

   display: grid;
   grid-template: 
   "l l l l"
   "o t i f"
   /1fr max-content max-content max-content;

   padding: 4% 7%;
   font-size: 16px;

   @media (max-width: 600px) {
      grid-template: 
      "l l l l"
      "t i f ."
      "o o o o"
      /max-content max-content max-content 1fr;
   }
   &__logo {
      grid-area: l;
      @media (max-width: 426px) {
         max-width: 80%;
      }
   }

   &__info {
      grid-area: o;
      color: $colorDarkBroun;

      @media (max-width: 600px) {
         margin-top: 30px;
      }
   }

   &__ico {
      
      margin: 0 10px;
      svg{
         width: 30px;
         height: 30px;
      }
   }
}
.twitter {
   grid-area: t;
}
.insta {
   grid-area: i;
}
.fase_book {
   grid-area: f;
}
