//Призначаю кольори проекту
$black: #1B1A1A;
$colorWhite: #fff;
$colorDarkBroun: #645C55;
$colorBroun: #CEC4BC;
$colorLightBroun: #ECE7E4;
$colorDarkGrey: #403e3b;
$colorLightGrey: #F7F7F7;

//Призначаю шрифти проекту
$ff: "Poppins", regular;

//Призначаю додаткові змінні проекту
// calck(minSize + (startSize - minSize)*((100vw - minWidth) / (startWidth-minWidth)))
$fz: calc(11px + (16 - 11) * ((100vw - 1024px) / (1440 - 1024)));

body {
   font-family: $ff;
   font-size: $fz;
}
