.modal{
   position: fixed;
   z-index: 999;
   top: -100%;
   width: 100vw;
   height: 100vh;

   @include flexMix();

   padding: 4%;
   
   background-color: rgba(64, 62, 59, 0.85);
   backdrop-filter: blur(3px);
   cursor: pointer;

   transition: opacity .3s;

   opacity: 0;
   &._action{
      top: 0;
      opacity: 1;
   }
   &__content {
      position: relative;
      min-width: 10%;
      min-height: 10%;
      //background-color: rgba(64, 62, 59, 0.85);
      //border: 1px solid #fff;
      //padding: 40px;
      cursor: default;
   }
   &__close{  
      position: absolute;
      top: 0;
      right: 0;
      @include flexMix();
      //flex-direction: column;

      width: 25px;
      height: 25px;
      //padding: .5em;
      margin: .3em;

      //border-radius: 7px;
      //font-size: 14px;
      //text-transform: uppercase;s
      
      color: $colorWhite;
      
      cursor: pointer;
      transition: transform .1s;

      &:hover {
         transform: scale(1.1);
      }
      &::before, &::after{
         content: '';
         position: absolute;
         display: block;
         width: 3px;
         height: 100%;
         background-color: #fff;
         border-radius: 2px;
      }
      &::before{
         transform: rotate(45deg);
      }
      &::after{
         transform: rotate(-45deg);
      }
   }
}

.form {
   //display: grid;
   //grid-auto-columns: 10% 60% 10%;
   padding: 30px;

   width: auto;
   height: auto;

   
   font-family: $ff;
   font-size: 18px;
   line-height: normal;

   color: $colorWhite;
   //background-color: rgba(64, 62, 59, 0);
   //backdrop-filter: blur(3px);
   // background: $colorDarkBroun;

   input {
      //grid-column: 2/2;
      display: block;

      width: 350px;
      height: 1.5em;

      margin: 0 0 .5em 0;

      font-size: 1em;
      line-height: normal;
      font-family: inherit;

      color: $colorDarkBroun;
      box-shadow: 2px 2px 4px 3px $colorDarkGrey;
   }

   input[type=submit]{
      height: 46px;
      width: 200px;
      margin: 2em auto 0 auto;

      text-transform: uppercase;
      font-family: inherit;
      font-size: .9em;

      border: 2px solid $colorWhite;
      border-radius: 14px;
      color: $colorWhite;
      background-color: inherit;

      cursor: pointer;
      transition: transform .1s;

      &:hover {
         transform: scale(1.02);
      }
   }
   p {
      display: block;

      font-size: .7em;
      line-height: 2em;
      i {
         color: red;
      }
   }
}