.modal{
   position: fixed;
   z-index: 999;

   width: 100vw;
   height: 100vh;

   @include flexMix();

   padding: 4%;
   
   background-color: rgba(64, 62, 59, 0.85);
   cursor: pointer;
   &__content {
      position: relative;
      min-width: 0;
      min-height: 0;
      background-color: #fff;
      padding: 40px;
      cursor: default;
   }
   &__close{  
      position: absolute;
      top: 0;
      right: 0;

      padding: .5em;
      margin: .5em;

      border-radius: 7px;
      font-size: 14px;
      text-transform: uppercase;
      
      color: $colorWhite;
      background-color: $colorDarkBroun;
      cursor: pointer;
   }
}

.block {
//   position: relative;
   //@include flexMix();
  width: 500px;
  height: 300px;
//   font-size: 50px;

  background: $colorBroun;
  
}