.our-firm {
   display: grid;
   grid-template: 
   "t p p" minmax(1em, auto)
   "t i n"
   "t i o"
   /1fr 104px 50%;

   padding: 5em 25%;
   font-style: inherit;
   line-height: 1.4em;
   color: $colorDarkGrey;
   @media (max-width: 1026px) {
      grid-template: 
      "t p p" minmax(1em, auto)
      "t i n"
      "t i o"
      /25% auto 1fr;
      
      padding: 5em 10%;
      font-size: 14px;
   }

   @media (max-width: 600px) {
      grid-template: 
      "t t" minmax(1em, auto)
      "p p"
      "i n"
      "i o"
      /auto 1fr;

      padding: 4em 8%;
   }

   &__title {
      grid-area: t;
      font-size: 2em;
      font-weight: normal;
      white-space: nowrap;
      padding-right: 1em;
      
      @media (max-width: 600px) {
         margin-bottom: 1em;   
      }
   }

   &__txt {
      grid-area: p;
      p{
         margin-bottom: 1em;
      }
      // @media (max-width: 769px) {
      //    @include fz(10, 12, 320, 769);
      //    line-height: 14px;
      // }
      @media (max-width: 600px) {
         font-size: 14px;
         line-height: 1.4em;
      }
   }

   &__img {
      grid-area: i;
      margin-right: 20px;
   }

   &__name {
      grid-area: n;

      align-self: end;
      font-size: calc(1em + 1px);
      color: $black;

      @media (max-width: 600px) {
         font-size: 14px;
         margin-left: 16px;
      }
   }

   &__position {
      grid-area: o;

      font-size: .88em;
      color: $colorDarkBroun;

      @media (max-width: 600px) {
         font-size: 12px;
         margin-left: 16px;
      }
   }
   }
   
